* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --navbar-height: 5rem;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-fg);
}

.light {
  --clr-bg: #fff;
  --clr-bg-alt: #b644f46c;
  --clr-fg: rgb(69, 69, 69);
  --clr-fg-alt: #282828;
  --clr-primary: #b644f4;
  --shadow: rgba(136, 3, 212, 0.16) 0px 7px 29px 0px,
  rgba(62, 0, 97, 0.08) 0px 0px 0px 2px;
}

.dark {
  --clr-bg: #000;
  --clr-bg-alt: #b644f46c;
  --clr-fg: rgb(255, 255, 255);
  --clr-fg-alt: #cdcdff;
  --clr-primary: #b644f4;
  --shadow:  rgba(136, 3, 212, 0.16) 0px 7px 29px 0px,
  rgba(241, 216, 255, 0.112) 0px 0px 0px 2px;
}

.disable-scroll {
  overflow-y: hidden;
  touch-action: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.6rem;
  }
}
